:root {
    --main-color: rgb(247, 135, 107);
    --main-hover-color: rgb(198, 85, 57);
    --main-dark-hover-color: rgb(118, 45, 27);
    --main-light-hover-color: rgb(244, 175, 158);
    --main-sub-color: rgb(230, 230, 230);
    --main-border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: fit-content;
    max-height: 600px;
    width: 650px;
}

body::-webkit-scrollbar {margin-top: 20px; width: 10px;}
body::-webkit-scrollbar-track {visibility: hidden;}
body::-webkit-scrollbar-thumb:hover {background-color: var(--main-hover-color)}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    cursor: pointer;
}

.section {
    display: none !important;
}

.active-section {
    display: flex !important;
}