.notex-header {
    background-image: url("../Notex.Media/header-image.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: fit-content;
    width: 100%;
    padding: 10px;
}

.notex-header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.notex-header-logo {
    height: 40px;
    width: 40px;
}

.notex-header-title {
    font-size: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.notex-header-title:hover {
    color: var(--main-color);
}

.notex-header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.notex-header-icon {
    font-size: 25px;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.notex-header-icon:hover {
    color: var(--main-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 18px;
    height: 40px;
    border-bottom: 1px solid var(--main-sub-color);
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.active-section-title {
    color: black;
    height: calc(100% - 2px);
    background-color: var(--main-light-hover-color);
    border-bottom: 3px solid var(--main-dark-hover-color);
}