.vault-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: 20px 0px;
    text-align: center;
}

.no-notes {
    font-size: 20px;
    font-weight: 600;
}

.notes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.note-container {
    display: flex;
    gap: 10px;
    text-align: left;
}

.note-trash-icon {
    margin-top: 3px;
    cursor: pointer;
    height: fit-content;
}

.note-trash-icon:hover {
    color: rgb(255, 0, 0);
}

.note-link {
    color: rgb(68, 135, 230);
    font-weight: 700;
    cursor: pointer;
    height: fit-content;
}

.note-link:hover {
    color: rgb(120, 176, 255);
    text-decoration: underline;
}

.timestamp {
    width: 71px;
    height: fit-content;
}

.vault-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.vault-button {
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: var(--main-border-radius);
    cursor: pointer;
}

.clear-vault {
    background-color: rgb(170, 0, 0);
}

.clear-vault:hover {
    background-color: rgb(84, 0, 0);
}

.save-to-local {
    background-color: rgb(68, 68, 68);
}

.save-to-local:hover {
    background-color: rgb(0, 0, 0);
}

.add-note {
    background-color: rgb(0, 136, 0);
}

.add-note:hover {
    background-color: rgb(0, 73, 0);
}

.note-user-info {
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 20px;
}

.note-user-content {
    padding: 5px;
    border: none;
    border-bottom: 3px solid var(--main-color);
    outline: none;
}

.note-user-button {
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    border: none;
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
}

.note-user-button:hover {
    background-color: var(--main-hover-color);
}

.user-note {
    color: var(--main-color);
    font-weight: 700;
}